{namespace max=Tx_Maxskel_ViewHelpers}

<div class="tx-maxfeed-feed-show">
<f:for each="{feed.channel.item}" as="item" key="itt">
	<f:if condition="{itt} < {configuration.feedCount}">
		<div class="tx-maxfeed-channel-item">
			<h3 class="m-heading m-heading-three tx-maxfeed-channel-item-title">
				<f:link.action arguments="{guid: item.guid}" action="standard" extensionName="uservbulletin" pluginName="forum" pageUid="{cObjData.header_link}">
					{item.title}
				</f:link.action>
			</h3>
			<span class="tx-maxfeed-channel-item-pubDate m-datetime">
				Om
				<span class="m-time">
					<max:strftime format="%H:%M">{item.pubDate}</max:strftime>
				</span>
				op
				<span class="m-date">
					<max:strftime format="%e-%m-%Y">{item.pubDate}</max:strftime>
				</span>
			</span>
			door:
			<span class="tx-maxfeed-channel-item-dcCreator">
			{item.xmlns-dc.creator}
			</span>
			<p class="bodytext tx-maxfeed-channel-item-description">
			<f:format.crop maxCharacters="100">{item.description}</f:format.crop>
			</p>
			<f:link.action arguments="{guid: item.guid}" action="standard" extensionName="uservbulletin" pluginName="forum" pageUid="{cObjData.header_link}">
				Meer
			</f:link.action>
		</div>
	</f:if>
</f:for>
</div>