<!-- variables in the template: 
	- error (string): set if an error occured (feed should be empty then)
	- feed (object): an object representation of the feed 
-->
<f:if condition="{error}">
	<f:then>
		Some error occured: {error}
		<!-- In case t3blog.com is down, display something else. -->
	</f:then>
	<f:else>
		<strong>{feed.channel.title}</strong>
		<ul>
		<f:for each="{feed.channel.item}" as="item" key="itt">
			<li>{item.title}</li>
			<!-- use namespaces like that: 
			{item.xmlns-content.encoded} -->
		</f:for>
		</ul>
	</f:else>
</f:if>
