{namespace feed=Tx_T3orgFeedparser_ViewHelpers}
<!-- variables in the template: 
	- error (string): set if an error occured (feed should be empty then)
	- feed (object): an object representation of the feed 
-->
<f:if condition="{error}">
	<f:then>
		Some error occured: {error}
		<!-- In case buzz.typo3.org is down, display something else. -->
	</f:then>
	<f:else>
		<f:alias map="{item:feed.channel.item}">
			<article>
				<div class="b-news-item">
					<h5><a href="{feed:escape(value:item.link)}" target="_blank" title="{feed:escape(value:item.title)}"><feed:escape>{item.title}</feed:escape></a></h5>
					<p class="b-news-item-date">
						<f:if condition="{item.pub_date}">Posted on <feed:format.reformatDate format="{settings.dateFormat}"><feed:escape>{item.pub_date}</feed:escape></feed:format.reformatDate></f:if>
						<f:if condition="{item.author}">by <feed:escape>{item.author}</feed:escape></f:if></p>
					<p class="b-news-item-subheader"><a href="{feed:escape(value:item.link)}" target="_blank" title="{feed:escape(value:item.title)}"><feed:escape>{item.description}</feed:escape><span class="i-next ico"></span></a></p>
				</div>
			</article>
			<f:link.external class="bu dark-grey bu-mini" uri="buzz.typo3.org" target="_blank">More Blog Posts</f:link.external>
		</f:alias>
	</f:else>
</f:if>
