{namespace feed=Tx_T3orgFeedparser_ViewHelpers}
<f:if condition="{error}">
	<f:then>
		<!-- some error occured: {error} -->
	</f:then>
	<f:else>
		<span id="forge-ticker-name"><feed:escape>{feed.entry.author.name}</feed:escape></span> on forge
		<span id="forge-ticker-date"><feed:format.timeToAgoString><feed:escape>{feed.entry.updated}</feed:escape></feed:format.timeToAgoString></span>:<br />
		<span id="forge-ticker-desc"><a href="{feed:escape(value:feed.entry.link.attribute-href)}"><f:format.crop maxCharacters="60" respectWordBoundaries="1" respectHtml="0"><feed:escape>{feed.entry.title}</feed:escape></f:format.crop></a></span>
	</f:else>
</f:if>