.tx-maxfeed-channel-item{
	color:#999;
}
.tx-maxfeed-channel-item a{
	background-image:url('../../Assets/icon-link-blue.png');
	background-repeat:no-repeat;
	background-position:left 7px;
}
.tx-maxfeed-channel-item-title a{
	background-image:none;
}
.tx-maxfeed-channel-item-dcCreator{
	color:#028DCD;
}
.tx-maxfeed-channel-item-description{
	color:#666;
}